<div>

  <input type="text" pInputText #pathToOpen value="/tmp/test20170810" />

  <button pButton type="button" label="enter" (click)="openDirectory(pathToOpen.value)"></button>





  <button pButton type="button" label="close"></button>
  <button pButton type="button" label="UP" (click)="exitDirectory()"></button>

  <div *ngIf="directory">
    <!-- <div>
      <ol class="breadcrumb fixed-width">
        <li *ngFor="let part of directory.parts">
          {{directory.root.parts}}
        </li>
      </ol>
    </div> -->
    <div class="list-group">
      <a *ngFor="let file of directory.files" class="list-group-item">
        <app-file [file]=file></app-file>
      </a>
    </div>
  </div>
</div>
