<div class="app-content px-0">
  <div class="row h-100 px-0 mx-0">
    <div class="col-lg-3 col-xl-2 app-bg3 sticky-top h-100 px-0">
      <app-explorer-directory (onOpenFile)="explorerOpenFileEvent($event)"></app-explorer-directory>
    </div>
    <div id='text-editor' class="col-lg-9 col-xl-10 ml-md-auto px-0 mx-0">
      <app-texteditor></app-texteditor>
    </div>
    <div id='image-show3d' class="col-lg-9 col-xl-10 ml-md-auto px-0 mx-0">
      <app-image3d></app-image3d>
    </div>
  </div>
</div>
