<div class="container-fluid h-100 px-0 mx-0">
  <div class="d-flex flex-row hi-address">

    <input class="h-100 w-100 mx-0 px-2" type="text" #pathToEnter value="/tmp/test20170814">


    <button class="btn btn-primary" (click)="newDir(pathToEnter.value)"><i class="fa fa-plus-square"></i></button>

    <button class="btn btn-primary" (click)="up()"><i class="fa fa-arrow-up"></i></button>

    <button class="btn btn-primary" (click)="lift()"><i class="fa fa-level-up"></i></button>

    <button class="btn btn-primary" (click)="close()"><i class="fa fa-close"></i></button>

  </div>
  <div class="hi-tree">
    <p-tree [value]="filesTree" selectionMode="single" [(selection)]="selectedFile" (onNodeExpand)="nodeExpand($event)" (onNodeSelect)="nodeSelect($event)"
      (onNodeUnselect)="nodeUnselect($event)" styleClass="hi-tree"></p-tree>
  </div>
</div>
