<h3 class="first">Explorer</h3>
<div>
  <div class="ui-inputgroup">
    <input type="text" #pathToEnter pInputText value="/tmp/test20170814">
    <button pButton (click)="new(pathToEnter.value)" type="button" icon="fa-plus-square" class="ui-button-secondary"></button>
  </div>
</div>
<button (click)="up()">Up</button>
<button (click)="lift()">Lift</button>
<button (click)="close()">Close</button>
<p-tree [value]="filesTree" selectionMode="single" [(selection)]="selectedFile" (onNodeExpand)="nodeExpand($event)" (onNodeSelect)="nodeSelect($event)"
  [style]="{'max-height':'200px','overflow':'auto'}" (onNodeUnselect)="nodeUnselect($event)"></p-tree>
