<!-- <div class="ui-inputgroup">
  <input type="text" #pathToEnter pInputText value="/tmp/home/f0">
  <button pButton (click)="openFile(pathToEnter.value)" type="button" icon="fa-plus-square" class="ui-button-secondary"></button>
</div> -->
<p-toolbar>
  <div class="ui-toolbar-group-left">
    <button pButton type="button" label="New" icon="fa-plus"></button>
    <button pButton type="button" label="Open" icon="fa-folder-open"></button>
    <button pButton type="button" label="Save" icon="fa-check" (click)="saveFile()" styleClass="ui-button-warning"></button>
    <button pButton type="button" label="Reload" icon="fa-refresh" (click)="reload()"></button>
    <button pButton type="button" label="Run" icon="fa-play" (click)="runShell()"></button>
  </div>

  <div class="ui-toolbar-group-right">
    <button pButton type="button" icon="fa-trash"></button>
  </div>
</p-toolbar>
<p-tabView [activeIndex]="selectedId" (onChange)="tabChange($event)" (onClose)="tabClose($event)">
  <p-tabPanel *ngFor="let file of files; let i=index" header="{{file.name}}" [closable]="true" [selected]="checkSelected(i)">
    <textarea pInputTextarea [(ngModel)]="file.contents"></textarea>
  </p-tabPanel>
</p-tabView>
<h1>{{selectedId}}</h1>
